/* fade */
.fade-500-enter,
.fade-500-leave-to {
  opacity: 0;
}
.fade-500-enter-active,
.fade-500-leave-active {
  transition: all .5s ease;
}

/* fade 由左往右 */
.fade-to-right-enter,
.fade-to-right-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-to-right-enter-active,
.fade-to-right-leave-active {
  transition: all .5s ease;
}